<div class="content">
    <div class="head">
        <h1>Dashboard</h1>
        <div class="colo">
            <div class="incolo"></div>
        </div>
    </div>
    <div class="dashContent">
    <div class="itemOne">
        <div class="head">
            <div class="one">
                <h1>Welcome</h1>
                <p class="p1">M7md</p>
            </div>
            <img src="../../../assets/imgs/welcome.png" alt="">
        </div>
        <div class="con">
            <img src="../../../assets/imgs/avatar.png" alt="">
            <div class="conCon">
                <div class="itemCon">
                    <h2>Osama Elzero</h2>
                    <p class="p1">Developer</p>
                </div>
                <div class="itemCon">
                    <h2>80</h2>
                    <p class="p1">Projects</p>
                </div>
                <div class="itemCon">
                    <h2>$8500</h2>
                    <p class="p1">Earned</p>
                </div>
            </div>
            <button>profile</button>
        </div>
    </div>
    <div class="item">
        <h1>Quick Draft</h1>
        <p class="p1">Write A Draft For Your Ideas</p>
        <div class="contentItem">
            <form>
                    <input type="text" placeholder="Title">
                    <textarea rows="10" placeholder="Your Thought"></textarea>
            </form>
            <button>save</button>
        </div>
    </div>

    <div class="item">
        <h1>Yearly Targets</h1>
        <p class="p1">Targets Of The Year</p>
        <div class="contentItem">
        </div>
    </div>

    <div class="item">
        <h1>Tickets Statistics</h1>
        <p class="p1">Everything About Support Tickets</p>
        <div class="contentItem">
            <div class="tickets">
                <div class="ticket">
                    <i class="fa-regular fa-rectangle-list fa-2x" style="color:var(--orange-color)"></i>
                    <h1>2500</h1>
                    <p>Total</p>
                </div>
                <div class="ticket">
                    <i class="fa-solid fa-spinner fa-2x" style="color:var(--blue-color);"></i>
                    <h1>500</h1>
                    <p>Pending</p>
                </div>
                <div class="ticket">
                    <i class="fa-regular fa-circle-check fa-2x" style="color:var(--green-color);"></i>
                    <h1>1900</h1>
                    <p>Closed</p>
                </div>
                <div class="ticket">
                    <i class="fa-regular fa-rectangle-xmark fa-2x" style="color:var(--red-color);"></i>
                    <h1>100</h1>
                    <p>Deleted</p>
                </div>
            </div>
        </div>
    </div>

    <div class="item">
        <h1>Latest News</h1>
        <div class="contentItem">
            <div class="news">
                <div class="new">
                    <div class="unit">
                        <img src="../../../assets/imgs/news-01.png" alt="">
                    <div class="text">
                        <h3>Created SASS Section</h3>
                        <p>New SASS Examples & Tutorials</p>
                    </div>
                    </div>
                    <p class="p2">3 Days Ago</p>
                </div>
                <div class="new">
                    <div class="unit">
                        <img src="../../../assets/imgs/news-02.png" alt="">
                        <div class="text">
                            <h3>Changed The Design</h3>
                            <p>A Brand New Website Design</p>
                        </div>
                    </div>
                    <p class="p2">5 Days Ago</p>
                </div>
                <div class="new">
                    <div class="unit">
                        <img src="../../../assets/imgs/news-03.png" alt="">
                        <div class="text">
                            <h3>Team Increased</h3>
                            <p>3 Developers Joined The Team</p>
                        </div>
                    </div>
                    <p class="p2">7 Days Ago</p>
                </div>
                <div class="new">
                    <div class="unit">
                        <img src="../../../assets/imgs/news-04.png" alt="">
                        <div class="text">
                            <h3>Added Payment Gateway</h3>
                            <p>Many New Payment Gateways Added</p>
                        </div>
                    </div>
                    <p class="p2">9 Days Ago</p>
                </div>
                
            </div>
        </div>
    </div>

    <div class="item">
        <h1>Latest Tasks</h1>
        <div class="contentItem">
            <div class="tasks">
                <div class="task">
                    <div class="unit">
                        <div class="text">
                            <h3>Record One New Video</h3>
                            <p >Record Pyhon Create Exe Project</p>
                        </div>
                    </div>
                    <i class="fa-solid fa-trash-can"></i>                    
                </div>
                <div class="task">
                    <div class="unit">
                        <div class="text">
                            <h3>Write Article</h3>
                            <p>Write Low Level vs High Level Languages</p>
                        </div>
                    </div>
                    <i class="fa-solid fa-trash-can"></i>                    
                </div>
                <div class="task">
                    <div class="unit">
                        <div class="text">
                            <h3>Finish project</h3>
                            <p>Publish Academy Programming Project</p>
                        </div>
                    </div>
                    <i class="fa-solid fa-trash-can"></i>                    
                </div>
                <div class="task">
                    <div class="unit">
                        <div class="text">
                            <h3>Attend The Meeting</h3>
                            <p>Attend The Project Business Analysis Meeting</p>
                        </div>
                    </div>
                    <i class="fa-solid fa-trash-can"></i>                    
                </div>
                <div class="task">
                    <div class="unit">
                        <div class="text">
                            <h3>Finish Lesson</h3>
                            <p>Finish Teaching Flex Box</p>
                        </div>
                    </div>
                    <i class="fa-solid fa-trash-can"></i>                    
                </div>
            </div>
        </div>
    </div>

    <div class="item">
        <h1>Top Search Items</h1>
        <div class="contentItem">
            <div class="searchs">
                <div class="search">
                    <div class="unit">
                        <h3>Keyword</h3>
                        <h3>Search Count</h3>
                    </div>
                </div>
                <div class="search">
                    <div class="unit">
                        <h3>Programming</h3>
                        <p class="p2">220</p>
                    </div>
                </div>
                <div class="search">
                    <div class="unit">
                        <h3>JavaScript</h3>
                        <p class="p2">180</p>
                    </div>
                </div>
                <div class="search">
                    <div class="unit">
                        <h3>PHP</h3>
                        <p class="p2">160</p>
                    </div>
                </div>
                <div class="search">
                    <div class="unit">
                        <h3>PHP</h3>
                        <p class="p2">160</p>
                    </div>
                </div>
                <div class="search">
                    <div class="unit">
                        <h3>Code</h3>
                        <p class="p2">145</p>
                    </div>
                </div>
                <div class="search">
                    <div class="unit">
                        <h3>Design</h3>
                        <p class="p2">110</p>
                    </div>
                </div>
                <div class="search">
                    <div class="unit">
                        <h3>Logic</h3>
                        <p class="p2">95</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="item">
        <h1>Latest Uploads</h1>
        <div class="contentItem">
            <div class="uploads">
                <div class="upload">
                    <div class="unit">
                        <img src="../../../assets/imgs/pdf.svg" class="uploadImg" alt="">
                    <div class="text">
                        <h3>My-File.pdf</h3>
                        <p>Elzero</p>
                    </div>
                    </div>
                    <p class="p2">2.9mb</p>
                </div>
                <div class="upload">
                    <div class="unit">
                        <img src="../../../assets/imgs/avi.svg" class="uploadImg" alt="">
                        <div class="text">
                            <h3>My-Video-File.avi</h3>
                            <p>Admin</p>
                        </div>
                    </div>
                    <p class="p2">4.9mb</p>
                </div>
                <div class="upload">
                    <div class="unit">
                        <img src="../../../assets/imgs/psd.svg" class="uploadImg" alt="">
                        <div class="text">
                            <h3>My-Psd-File.pdf</h3>
                            <p>Osama</p>
                        </div>
                    </div>
                    <p class="p2">4.5mb</p>
                </div>
                <div class="upload">
                    <div class="unit">
                        <img src="../../../assets/imgs/zip.svg" class="uploadImg" alt="">
                        <div class="text">
                            <h3>My-Zip-File.pdf</h3>
                            <p>User</p>
                        </div>
                    </div>
                    <p class="p2">8.9mb</p>
                </div>
                <div class="upload">
                    <div class="unit">
                        <img src="../../../assets/imgs/dll.svg" class="uploadImg" alt="">
                        <div class="text">
                            <h3>My-Dll-File.pdf</h3>
                            <p>Admin</p>
                        </div>
                    </div>
                    <p class="p2">4.9mb</p>
                </div>
                <div class="upload">
                    <div class="unit">
                        <img src="../../../assets/imgs/eps.svg" class="uploadImg"  alt="">
                        <div class="text">
                            <h3>my-Eps-File.pdf</h3>
                            <p>Designer</p>
                        </div>
                    </div>
                    <p class="p2">8.9mb</p>
                </div>
                
            </div>
        </div>
    </div>

    <div class="item">
        <h1>Last Project Progress</h1>
        <div class="contentItem">

        </div>
    </div>

    <div class="item">
        <h1>Reminders</h1>
        <div class="contentItem">

        </div>
    </div>

    <div class="item">
        <h1>Latest Post</h1>
        <div class="contentItem">
            <div class="person">
                <div class="head">
                    <img src="../../../assets/imgs/avatar.png" alt="">
                    <div class="info">
                    <h2>Osama Elzero</h2>
                    <p class="about">About 3 Hours Ago</p>
                    </div>
                </div>
                <div class="text">
                    You Can Fool All Of The People Some Of The Time, 
                    And Some Of The People All Of The Time, 
                    But You Can't Fool All Of The People All Of The Time.
                </div>
                <div class="loveComment">
                    <div class="love">
                        <i class="fa-regular fa-heart"></i>
                        1.8K
                    </div>
                    <div class="comment">
                        <i class="fa-regular fa-comments"></i>
                        500
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="item">
        <h1>Social Media Stats</h1>
        <div class="contentItem">
            <div class="stats">
                <div class="stat" style="background-color: #d2ecfc;">
                    <div class="unit">
                        <i class="fa-brands fa-twitter fa-2x" style="background-color:#1da1f2"></i>
                        <p style="color: #1da1f2;">90K Followers</p>
                    </div>
                    <p class="p2" style="background-color: #1da1f2;">Follow</p>
                </div>
                <div class="stat" style="background-color: #d1e4fc;">
                    <div class="unit">
                        <i class="fa-brands fa-facebook-f fa-2x" style="background-color:var(--blue-alt-color);"></i>
                        <p style="color:var(--blue-alt-color);">2M Like</p>
                    </div>
                    <p class="p2" style="background-color: var(--blue-alt-color);">Like</p>
                </div>
                <div class="stat" style="background-color: #ffcccc;">
                    <div class="unit">
                        <i class="fa-brands fa-youtube fa-2x"style="background-color:var(--red-color);"></i>
                        <p style="color:var(--red-color)">1M Subs</p>
                    </div>
                    <p class="p2" style="background-color: var(--red-color);">Subscribe</p>
                </div>
                <div class="stat" style="background-color: #cce4f0;">
                    <div class="unit">
                        <i class="fa-brands fa-linkedin fa-2x"style="background-color:var(--blue-color);"></i>
                        <p style="color: var(--blue-color);">70K Followers</p>
                    </div>
                    <p class="p2" style="background-color: var(--blue-color);">Follow</p>
                </div>
            </div>
        </div>
    </div>

    <div class="specialItem">
        <h1>Projects</h1>
        <div class="contentItem">
            
        </div>
    </div>
    </div>
    
    