.web{
    display:grid;
    grid-template-columns: 16% 84%;
    height: 100vh;
}
// start navbar1
.navbar1{
    text-align: center;
    padding: 20px;
    box-shadow: 1px 0 2px rgb(196, 196, 196);
    h3{
        font-size: 19px;
        padding: 10px 0 20px 0;
        margin-bottom:30px;
        position: relative;
        &::after{
            content: "";
            position: absolute;
            border: 1px solid #333;
            width: 50%;
            left:50%;
            transform: translateX(-50%);
            bottom: 0;
        }
        &::before{
            content: "";
            position: absolute;
            height: 15px;
            width: 15px;
            left: 50%;
            transform: translate(-50%,50%);
            bottom: 0;
            border-radius: 50%;
            background-color:#333;
            z-index: 1;
            border: 5px solid white;
        }
    }
    ul{
        margin-top:20px ;
        text-align: left;
        li{
            display: block;
            margin-bottom: 5px;
            a{
                color: #333;
                padding: 10px 15px;
                border-radius: 5px;
                font-size: 14px;
                display: block;
                transition: 0.3s ease;
                i{
                    margin-right:6px ;
                    font-size: 15px;
                }
                &:hover{
                    background-color:var(--mainBackroundColor);
                }
            }
        }
    }
}
@media screen and (max-width:1100px) {
    .navbar1{
        padding: 20px 5px;
        ul{
            li{
                a{
                    padding: 10px;
                }
            }
        }
    }
}
@media screen and (max-width:850px) {
    .web{
        grid-template-columns: auto 1fr;
        .navbar1{
            text-align: center;
            width: 50px;
            padding: 5px 1px;
            h3{
                font-size: 12px;
                &::after{
                    content: "";
                    width: 0;
                    border: none;
                    position: static;
                }
                &::before{
                    content: "";
                    width: 0;
                    border: none;
                    position: static;
                }
            }
            ul{
                li{
                    text-align: center;
                    a{
                        span{
                            display:none;
                        }
                    }
                }
            }
        }
        .contentWebSite{
            .navbar2{
                position: relative;
                .item{
                    .search{
                        border: none;
                        input[type="checkbox"]:checked ~ .input{
                            display: block;
                        }
                        i{
                            font-size: 22px;
                        }
                        input{
                            display: none;
                        }
                        .input{
                            position: absolute;
                            top: 100%;
                            width: 95%;
                            padding: 15px ;
                            border-radius: 10px;
                            border: 1px solid #777;
                            left: 2.5%;
                            
                        }
                    }
                }
            }
        }
    }
}
.RouterActive{background-color: var(--mainBackroundColor);}


// end navbar1
// start navbar2
.contentWebSite{
    overflow-y: auto;
    .navbar2{
        padding: 10px 20px;
        .item{
            display:flex;
            align-items: center;
            justify-content: space-between;
            .search{
                border:1px solid var(--headBackgroundColor);
                color:var(--headBackgroundColor);
                width: max-content;
                border-radius: 10px;
                padding:0 10px;
                display:flex;
                align-items: center;
                justify-content: space-between;
                input[type="checkbox"]{
                    display:none;
                }
                i{
                    color:#333;
                    margin-right: 10px;
                    display: inline-block;
                }
                input{
                    display: inline;
                    padding: 10px;
                    outline:none;
                    border:none;
                    transition: 0.3s ease;
                }
            }
            .person{
                display:flex;
                justify-content: space-between;
                align-items: center;
                img{
                    width:35px;
                    margin-left:15px;
                }
                i{
                    font-size:20px;
                    position: relative;
                &::after{
                    content: "";
                    position: absolute;
                    left: 100%;
                    bottom: 100%;
                    transform: translate(-50%,50%);
                    border: 5px solid red;
                    border-radius: 50%;
                }
                }

            }
            
        }
    }
}



// end navbar2