<div class="content">
    <div class="head">
        <h1>Files</h1>
        <div class="colo">
            <div class="incolo"></div>
        </div>
    </div>
    <div class="filesContent">
        <div class="files">
            <div class="item">
                <div class="download" ><i class="fa-solid fa-download" ></i></div>
                <div class="imgfile" ><img src="../../../assets/imgs/pdf.svg"  alt="file"></div>
                <div class="namefile">my-file.pdf</div>
                <div class="author">Elzero</div>
                <div class="info">
                    <span class="date">20/6/2020</span>
                    <span class="mb">5.5MB</span>
                </div>
            </div>
            <div class="item">
                <div class="download" ><i class="fa-solid fa-download" ></i></div>
                <div class="imgfile" ><img src="../../../assets/imgs/avi.svg"  alt="file"></div>
                <div class="namefile">my-file.avi</div>
                <div class="author">Admin</div>
                <div class="info">
                    <span class="date">16/5/2021</span>
                    <span class="mb">12.5MB</span>
                </div>
            </div>
            <div class="item">
                <div class="download" ><i class="fa-solid fa-download" ></i></div>
                <div class="imgfile" ><img src="../../../assets/imgs/eps.svg"  alt="file"></div>
                <div class="namefile">my-file.eps</div>
                <div class="author">Uploader</div>
                <div class="info">
                    <span class="date">16/5/2021</span>
                    <span class="mb">2.7MB</span>
                </div>
            </div>
            <div class="item">
                <div class="download" ><i class="fa-solid fa-download" ></i></div>
                <div class="imgfile" ><img src="../../../assets/imgs/psd.svg"  alt="file"></div>
                <div class="namefile">my-file.psd</div>
                <div class="author">Osama</div>
                <div class="info">
                    <span class="date">16/5/2021</span>
                    <span class="mb">15.1MB</span>
                </div>
            </div>
            <div class="item">
                <div class="download" ><i class="fa-solid fa-download" ></i></div>
                <div class="imgfile" ><img src="../../../assets/imgs/dll.svg"  alt="file"></div>
                <div class="namefile">my-file.dll</div>
                <div class="author">Coder</div>
                <div class="info">
                    <span class="date">16/5/2021</span>
                    <span class="mb">5.5MB</span>
                </div>
            </div>
            <div class="item">
                <div class="download" ><i class="fa-solid fa-download" ></i></div>
                <div class="imgfile" ><img src="../../../assets/imgs/png.svg"  alt="file"></div>
                <div class="namefile">my-file.png</div>
                <div class="author">Designer</div>
                <div class="info">
                    <span class="date">16/5/2021</span>
                    <span class="mb">1.1MB</span>
                </div>
            </div>
            <div class="item">
                <div class="download" ><i class="fa-solid fa-download" ></i></div>
                <div class="imgfile" ><img src="../../../assets/imgs/dll.svg"  alt="file"></div>
                <div class="namefile">my-file.dll</div>
                <div class="author">Coder</div>
                <div class="info">
                    <span class="date">16/5/2021</span>
                    <span class="mb">2.2MB</span>
                </div>
            </div>
            <div class="item">
                <div class="download" ><i class="fa-solid fa-download" ></i></div>
                <div class="imgfile" ><img src="../../../assets/imgs/png.svg"  alt="file"></div>
                <div class="namefile">my-file.png</div>
                <div class="author">Designer</div>
                <div class="info">
                    <span class="date">16/5/2021</span>
                    <span class="mb">1.1MB</span>
                </div>
            </div>
            <div class="item">
                <div class="download" ><i class="fa-solid fa-download" ></i></div>
                <div class="imgfile" ><img src="../../../assets/imgs/psd.svg"  alt="file"></div>
                <div class="namefile">my-file.psd</div>
                <div class="author">Osama</div>
                <div class="info">
                    <span class="date">16/5/2021</span>
                    <span class="mb">15.1MB</span>
                </div>
            </div>
            <div class="item">
                <div class="download" ><i class="fa-solid fa-download" ></i></div>
                <div class="imgfile" ><img src="../../../assets/imgs/pdf.svg"  alt="file"></div>
                <div class="namefile">my-file.psf</div>
                <div class="author">Elzero</div>
                <div class="info">
                    <span class="date">16/5/2021</span>
                    <span class="mb">5.5MB</span>
                </div>
            </div>
            <div class="item">
                <div class="download" ><i class="fa-solid fa-download" ></i></div>
                <div class="imgfile" ><img src="../../../assets/imgs/pdf.svg"  alt="file"></div>
                <div class="namefile">my-file.pdf</div>
                <div class="author">Elzero</div>
                <div class="info">
                    <span class="date">20/6/2020</span>
                    <span class="mb">5.5MB</span>
                </div>
            </div>
            <div class="item">
                <div class="download" ><i class="fa-solid fa-download" ></i></div>
                <div class="imgfile" ><img src="../../../assets/imgs/avi.svg"  alt="file"></div>
                <div class="namefile">my-file.avi</div>
                <div class="author">Admin</div>
                <div class="info">
                    <span class="date">16/5/2021</span>
                    <span class="mb">12.5MB</span>
                </div>
            </div>
            <div class="item">
                <div class="download" ><i class="fa-solid fa-download" ></i></div>
                <div class="imgfile" ><img src="../../../assets/imgs/eps.svg"  alt="file"></div>
                <div class="namefile">my-file.eps</div>
                <div class="author">Uploader</div>
                <div class="info">
                    <span class="date">16/5/2021</span>
                    <span class="mb">2.7MB</span>
                </div>
            </div>
            <div class="item">
                <div class="download" ><i class="fa-solid fa-download" ></i></div>
                <div class="imgfile" ><img src="../../../assets/imgs/psd.svg"  alt="file"></div>
                <div class="namefile">my-file.psd</div>
                <div class="author">Osama</div>
                <div class="info">
                    <span class="date">16/5/2021</span>
                    <span class="mb">15.1MB</span>
                </div>
            </div>
            <div class="item">
                <div class="download" ><i class="fa-solid fa-download" ></i></div>
                <div class="imgfile" ><img src="../../../assets/imgs/dll.svg"  alt="file"></div>
                <div class="namefile">my-file.dll</div>
                <div class="author">Coder</div>
                <div class="info">
                    <span class="date">16/5/2021</span>
                    <span class="mb">5.5MB</span>
                </div>
            </div>
            <div class="item">
                <div class="download" ><i class="fa-solid fa-download" ></i></div>
                <div class="imgfile" ><img src="../../../assets/imgs/png.svg"  alt="file"></div>
                <div class="namefile">my-file.png</div>
                <div class="author">Designer</div>
                <div class="info">
                    <span class="date">16/5/2021</span>
                    <span class="mb">1.1MB</span>
                </div>
            </div>
            <div class="item">
                <div class="download" ><i class="fa-solid fa-download" ></i></div>
                <div class="imgfile" ><img src="../../../assets/imgs/dll.svg"  alt="file"></div>
                <div class="namefile">my-file.dll</div>
                <div class="author">Coder</div>
                <div class="info">
                    <span class="date">16/5/2021</span>
                    <span class="mb">2.2MB</span>
                </div>
            </div>
            <div class="item">
                <div class="download" ><i class="fa-solid fa-download" ></i></div>
                <div class="imgfile" ><img src="../../../assets/imgs/png.svg"  alt="file"></div>
                <div class="namefile">my-file.png</div>
                <div class="author">Designer</div>
                <div class="info">
                    <span class="date">16/5/2021</span>
                    <span class="mb">1.1MB</span>
                </div>
            </div>
            <div class="item">
                <div class="download" ><i class="fa-solid fa-download" ></i></div>
                <div class="imgfile" ><img src="../../../assets/imgs/psd.svg"  alt="file"></div>
                <div class="namefile">my-file.psd</div>
                <div class="author">Osama</div>
                <div class="info">
                    <span class="date">16/5/2021</span>
                    <span class="mb">15.1MB</span>
                </div>
            </div>
            <div class="item">
                <div class="download" ><i class="fa-solid fa-download" ></i></div>
                <div class="imgfile" ><img src="../../../assets/imgs/pdf.svg"  alt="file"></div>
                <div class="namefile">my-file.psf</div>
                <div class="author">Elzero</div>
                <div class="info">
                    <span class="date">16/5/2021</span>
                    <span class="mb">5.5MB</span>
                </div>
            </div>
            <div class="item">
                <div class="download" ><i class="fa-solid fa-download" ></i></div>
                <div class="imgfile" ><img src="../../../assets/imgs/pdf.svg"  alt="file"></div>
                <div class="namefile">my-file.psf</div>
                <div class="author">Elzero</div>
                <div class="info">
                    <span class="date">16/5/2021</span>
                    <span class="mb">5.5MB</span>
                </div>
            </div>
            <div class="item">
                <div class="download" ><i class="fa-solid fa-download" ></i></div>
                <div class="imgfile" ><img src="../../../assets/imgs/pdf.svg"  alt="file"></div>
                <div class="namefile">my-file.pdf</div>
                <div class="author">Elzero</div>
                <div class="info">
                    <span class="date">20/6/2020</span>
                    <span class="mb">5.5MB</span>
                </div>
            </div>
            <div class="item">
                <div class="download" ><i class="fa-solid fa-download" ></i></div>
                <div class="imgfile" ><img src="../../../assets/imgs/avi.svg"  alt="file"></div>
                <div class="namefile">my-file.avi</div>
                <div class="author">Admin</div>
                <div class="info">
                    <span class="date">16/5/2021</span>
                    <span class="mb">12.5MB</span>
                </div>
            </div>
            <div class="item">
                <div class="download" ><i class="fa-solid fa-download" ></i></div>
                <div class="imgfile" ><img src="../../../assets/imgs/eps.svg"  alt="file"></div>
                <div class="namefile">my-file.eps</div>
                <div class="author">Uploader</div>
                <div class="info">
                    <span class="date">16/5/2021</span>
                    <span class="mb">2.7MB</span>
                </div>
            </div>
            
        </div>
        <div class="Statistics">
            <h1>Files Statistics</h1>
            <div class="contentStatistics">
                <div class="one">
                    <div class="img" style="background-color: #cce3ff;">
                        <i class="fa-regular fa-file-pdf" style="color:var(--blue-color)"></i>
                    </div>
                    <div class="name">
                        PDF Files
                        
                        <span>130</span>
                    </div>
                    
                </div>
                <div class="two">6.5GB</div>
            </div>
            <div class="contentStatistics">
                <div class="one">
                    <div class="img" style="background-color:#d3f3df;">
                        <i class="fa-regular fa-images" style="color: var(--green-color);"></i>
                    </div>
                    <div class="name">
                       Images
                        
                        <span>115 Files</span>
                    </div>
                    
                </div>
                <div class="two">3.5GB</div>
            </div>
            <div class="contentStatistics">
                <div class="one">
                    <div class="img" style="background-color: #fdd9d7;">
                        <i class="fa-regular fa-file-word" style="color:var(--red-color)"></i>
                    </div>
                    <div class="name">
                        PDF Files
                        
                        <span>130</span>
                    </div>
                    
                </div>
                <div class="two">6.5GB</div>
            </div>
            <div class="contentStatistics">
                <div class="one">
                    <div class="img" style="background-color: #fdecce;">
                        <i style="color:#d3f3df" class="fa-solid fa-file-csv fa-lg orange center-flex c-orange icon"></i>
                    </div>
                    <div class="name">
                        PDF Files
                        
                        <span>130</span>
                    </div>
                    
                </div>
                <div class="two">6.5GB</div>
            </div>
            <button><i class="fa-solid fa-chevron-up"></i>Upload</button>
        </div>
    </div>
</div>
