<div class="content">
    <div class="head">
        <h1>Files</h1>
        <div class="colo">
            <div class="incolo"></div>
        </div>
    </div>
    <div class="filesContent">
        <div class="files">
            <div class="item" *ngFor="let File of Files">
                <div class="download" ><i class="fa-solid fa-download" ></i></div>
                <div class="imgfile" ><img [src]="File.img"  alt="file"></div>
                <div class="namefile">{{File.name}}</div>
                <div class="author">{{File.author}}</div>
                <div class="info">
                    <span class="date">{{File.date}}</span>
                    <span class="mb">{{File.size}}</span>
                </div>
            </div>
        </div>
        <div class="Statistics">
            <h1>Files Statistics</h1>
            <div class="contentStatistics">
                <div class="one">
                    <div class="img" style="background-color: #cce3ff;">
                        <i class="fa-regular fa-file-pdf" style="color:var(--blue-color)"></i>
                    </div>
                    <div class="name">
                        PDF Files
                        
                        <span>130</span>
                    </div>
                    
                </div>
                <div class="two">6.5GB</div>
            </div>
            <div class="contentStatistics">
                <div class="one">
                    <div class="img" style="background-color:#d3f3df;">
                        <i class="fa-regular fa-images" style="color: var(--green-color);"></i>
                    </div>
                    <div class="name">
                       Images
                        
                        <span>115 Files</span>
                    </div>
                    
                </div>
                <div class="two">3.5GB</div>
            </div>
            <div class="contentStatistics">
                <div class="one">
                    <div class="img" style="background-color: #fdd9d7;">
                        <i class="fa-regular fa-file-word" style="color:var(--red-color)"></i>
                    </div>
                    <div class="name">
                        PDF Files
                        
                        <span>130</span>
                    </div>
                    
                </div>
                <div class="two">6.5GB</div>
            </div>
            <div class="contentStatistics">
                <div class="one">
                    <div class="img" style="background-color: #fdecce;">
                        <i style="color:#d3f3df" class="fa-solid fa-file-csv fa-lg orange center-flex c-orange icon"></i>
                    </div>
                    <div class="name">
                        PDF Files
                        
                        <span>130</span>
                    </div>
                    
                </div>
                <div class="two">6.5GB</div>
            </div>
            <button><i class="fa-solid fa-chevron-up"></i>Upload</button>
        </div>
    </div>
</div>
