<div class="content">
    <div class="head">
        <h1>Profile</h1>
        <div class="colo">
            <div class="incolo"></div>
        </div>
    </div>
    <div class="ProfileContent">
        <div class="info">
            <div class="person">
                <img src="../../../assets/imgs/avatar.png" alt="">
                <h1>Mohamed Morsi</h1>
                <p class="p1">Level 20</p>
                <div class="conRange">
                    <div class="range"></div>
                </div>
                <div class="star">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <p>550 Rating</p>
            </div>
            <div class="information">
                <div class="unit">
                    <h2>General Information</h2>
                    <div class="item">
                        <p>Full Name : <span>Mohamed Morsi</span></p>
                        <p>Gender : <span>Male</span></p>
                        <p>Country : <span>Egypt</span></p>
                    </div>
                    <div class="checkRange">
                        <input id="box" style="display:none;"  type="checkbox" checked>
                        <label for="box">
                            <div class="range">
                                <i class="fa-solid fa-check" style="color:var(--blue-color)"></i>
                                <i class="fa-solid fa-xmark" style="color:var(--grey-color)"></i>
                            </div>
                        </label>
                    </div>
                </div>
                <div class="unit">
                    <h2>Personal Information</h2>
                    <div class="item">
                        <p>Email : <span>m.morsi.jr@gmail.com</span></p>
                        <p>Phone : <span>01097388453</span></p>
                        <p>Date Of Birth : <span>06/07/1999</span></p>
                    </div>
                    <div class="checkRange">
                        <input id="box2" style="display:none;"  type="checkbox" >
                        <label for="box2">
                            <div class="range">
                                <i class="fa-solid fa-check" style="color:var(--blue-color)"></i>
                                <i class="fa-solid fa-xmark" style="color:var(--grey-color)"></i>
                            </div>
                        </label>
                    </div>
                </div>
                <div class="unit">
                    <h2>Job Information</h2>
                    <div class="item">
                        <p>Title : <span>Full Stack developer</span></p>
                        <p>Programming Language : <span>Python</span></p>
                        <p>Years Of Experience : <span>15+</span></p>
                    </div>
                    <div class="checkRange">
                        <input id="box3" style="display:none;"  type="checkbox" checked>
                        <label for="box3">
                            <div class="range">
                                <i class="fa-solid fa-check" style="color:var(--blue-color)"></i>
                                <i class="fa-solid fa-xmark" style="color:var(--grey-color)"></i>
                            </div>
                        </label>
                    </div>
                </div>
                <div class="unit">
                    <h2>Billing Information</h2>
                    <div class="item">
                        <p>Payment Method : <span>Paypal</span></p>
                        <p>Email : <span>email@website.com</span></p>
                        <p>Subscription : <span>Monthly</span></p>
                    </div>
                    <div class="checkRange">
                        <input id="box4" style="display:none;"  type="checkbox" >
                        <label for="box4">
                            <div class="range">
                                <i class="fa-solid fa-check" style="color:var(--blue-color)"></i>
                                <i class="fa-solid fa-xmark" style="color:var(--grey-color)"></i>
                            </div>
                        </label>
                    </div>
                </div>
            </div>
        </div>



        <div class="skillAndActivitie">
            <div class="skills">
                <h1>MySkills</h1>
                <p class="p1">Complete Skills List</p>
                <div class="Item2">
                    <div class="unit2">
                        <span>HTML</span>
                        <span>Pugjs</span>
                        <span>HAML</span>
                    </div>
                    <div class="unit2">
                        <span>CSS</span>
                        <span>SASS</span>
                        <span>Stylus</span>
                    </div>
                    <div class="unit2">
                        <span>Javascript</span>
                        <span>TypeScript</span>
                    </div>
                    <div class="unit2">
                        <span>Vuejs</span>
                        <span>Reactjs</span>
                    </div>
                    <div class="unit2">
                        <span>Jest</span>
                        <span>jasmine</span>
                    </div>
                    <div class="unit2">
                        <span>PHP</span>
                        <span>Laravel</span>
                    </div>
                    <div class="unit2">
                        <span>Python</span>
                        <span>Django</span>
                    </div>
                </div>
            </div>
            <div class="activities">

                <h1>Latest Activities</h1>
                <p class="p1">Latest Activities Done By The User</p>

                <div class="Item">
                    <div class="unit">
                        <div class="left">
                            <img src="../../../assets/imgs/activity-01.png" alt="">
                            <div class="text">
                                <h2>Store</h2>
                                <p>Bought The Mastering Python Course</p>
                            </div>
                        </div>
                        <div class="right">
                            <div class="text">
                                <h2>18:10</h2>
                                <p>Yesterday</p>
                            </div>
                        </div>
                    </div>

                    <div class="unit">
                        <div class="left">
                            <img src="../../../assets/imgs/activity-02.png" alt="">
                            <div class="text">
                                <h2>Academy</h2>
                                <p>Got The PHP Certificate</p>
                            </div>
                        </div>
                        <div class="right">
                            <div class="text">
                                <h2>16:05</h2>
                                <p>Yesterday</p>
                            </div>
                        </div>
                    </div>

                    <div class="unit">
                        <div class="left">
                            <img src="../../../assets/imgs/activity-03.png" alt="">
                            <div class="text">
                                <h2>Badges</h2>
                                <p>Unlocked The 10 Skills Badge</p>
                            </div>
                        </div>
                        <div class="right">
                            <div class="text">
                                <h2>18:05</h2>
                                <p>Yesterday</p>
                            </div>
                        </div>
                    </div>

                    <div class="unit">
                        <div class="left">
                            <img src="../../../assets/imgs/activity-01.png" alt="">
                            <div class="text">
                                <h2>Store</h2>
                                <p>Bought The Typescript Course</p>
                            </div>
                        </div>
                        <div class="right">
                            <div class="text">
                                <h2>12:05</h2>
                                <p>Yesterday</p>
                            </div>
                        </div>
                    </div>

                    
                </div>
                
            </div>
        </div>
    </div>
</div>